:root {
    --themeColor: #1992d4;
    --accentColor: #E2E8F0;
    --descriptionColor: #636363;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}





.pageContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    
    
}
/* start of dashboard */

.dashboard {
    background-color: var(--themeColor);
    grid-column: 1 / 3;
    display: grid;
    color: white;
    min-height: 100vh;
    max-height: 100vh;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(30, 1fr);
    align-items: center;
    row-gap: 15px;
    
}

.dashboard img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)
    /* https://codepen.io/sosuke/pen/Pjoqqp */
}

.dashboard p {
    font-weight: bold;
}


.dashboardLogo {
  grid-column: 2 / 10;
  grid-row: 2;
}

.dashboardText {
    grid-column: 10 / 13;
    grid-row: 2;
    font-weight: bold;
    
    
    
}


.homeLogo {
    grid-column: 4 / 7;
    grid-row: 4;
}

.homeText {
    grid-column: 11 / 13;
    grid-row: 4;
}

.profileLogo {
    grid-column: 4  / 7;
    grid-row: 5;
}

.profileText {
    grid-column: 11 / 13;
    grid-row: 5;
}

.messagesLogo {
    grid-column: 4 / 7;
    grid-row: 6;

}
.messagesText {
    grid-column: 11 / 13;
    grid-row: 6;
}

.historyLogo {
    grid-column: 4 / 7;
    grid-row: 7;
}

.historyText {
    grid-column: 11 / 13;
    grid-row: 7;
}

.tasksLogo {
    grid-column: 4 / 7;
    grid-row: 8;
}

.tasksText {
    grid-column: 11 / 13;
    grid-row: 8;
}

.communitiesLogo {
    grid-column: 4 / 7;
    grid-row: 9;
}

.communitiesText {
    grid-column: 11 / 13;
    grid-row: 9;
}

.settingsLogo {
    grid-column: 4/7;
    grid-row: 11;
}

.settingsText {
    grid-column: 11/ 13;
    grid-row: 11;
}

.supportLogo {
    grid-column: 4 / 7;
    grid-row: 12;
}

.supportText {
    grid-column: 11 / 13;
    grid-row: 12;
}

.privacyLogo {
    grid-column: 4 / 7;
    grid-row: 13; 
}

.privacyText {
    grid-column: 11 / 13;
    grid-row: 13;
}


/* end of dashboard */
.homeContainer {
    grid-column: 3 / -1;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
   
    max-height: 100vh;
}

/* start of header */

.header {
    grid-column: 1 / 31;
    grid-row: 1 / 6;
    display: grid;
    grid-template-rows: repeat(100, 1fr);
    grid-template-columns: repeat(100, 1fr);
    box-shadow: 2px 7px 5px 0px rgba(161,161,161,0.75);
}

.searchLogoWrapper {
    grid-row: 19;
    grid-column: 4;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
   
}

.titles {
    font-weight: bolder;
}

.searchLogoWrapper img {
    width: 30px;
    height: 30px;
}

.searchBar {
    background-color: var(--accentColor);
    border: 0;
    border-radius: 80px;
    grid-row: 16 / 40;
    grid-column: 6 / 37;
    
}

.notificationsLogoWrapper {
    grid-row: 19;
    grid-column: 87;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    

}

.notificationsLogoWrapper img {
    width: 30px;
    height: 30px;
}



.profileSmallwrapper {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    grid-row: 15;
    grid-column: 90;
}

.profileSmallwrapper img {
    height: 45px;
    width: 45px;
}

.profileName {
    font-weight: bold;
    grid-row: 21 / 25;
    grid-column: 93 / 101;
    

}



.pfpIntroImgWrapper {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    grid-row: 60 / 60;
    grid-column: 3;

    

}

.pfpIntroImgWrapper img{
    width: 80px;
    height: 85px;
    
}



.Intro {
    font-weight: bolder;
    grid-row: 70;
    grid-column: 8 / 30;
}

.MorgansIntro {
    grid-row: 75;
    grid-column: 8 / 30;
}


.blueButtons {
    background-color: var(--themeColor);
    border: 0;
    border-radius: 80px;
    font-weight: bolder;
    color: white;
    font-size: 1.3em;
    grid-row: 70 / 76;
    
    
}

.NewBtn {
    grid-column:  79 / 85;
}

.UploadBtn {
    grid-column: 86 / 92;
}

.ShareBtn {
    grid-column: 93 / 99;
}



/* end of header */


/* start of articles */
.maincontent {
    grid-column: 1 / 31;
    grid-row: 6 / 31;
    background-color: var(--accentColor);
    z-index: -1;
    display: grid;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    gap: 10px;
    padding-top: 10px;
}

.titles {
    font-weight: normal;
}

.projectsHeadline {
    grid-column: 2 / 60;
    grid-row: 3;
    font-weight: bold;
}

.announcementsHeadline {
    margin-left: 10px;
    grid-column: 90;
    grid-row: 3;
    font-weight: bold;
}

.trendingHeadline {
    grid-row: 52;
    grid-column: 90;
    font-weight: bold;
}


.articlesContainer {
    grid-column: 2 / 85;
    grid-row: 4 / 30;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 400px));
    grid-template-rows: repeat(3, 1fr);
    gap: 25px;
    
    
    
}

.superCoolProject {
    background-color: white;
    border-radius: 10px;
    border-left: 0.7em solid #F0B429;
    box-shadow: -1px 10px 5px -4px rgba(112,111,111,0.44);
    padding: 40px;
    
    grid-template-columns: repeat(4, 0fr);
    grid-template-rows: repeat(4, 0fr)
}

.superCoolProject p {
    color: var(--descriptionColor)
}

.superCoolProject img {
    width: 10%;
    
}


.iconContainer {
   position: relative;
   left: 200px;
   top: 10px;
   

}

.iconContainer img{ 
    margin-right: 10px;

}



.announcementsContainer {
    background-color: white;
    box-shadow: -1px 10px 5px -4px rgba(112,111,111,0.44);
    grid-row: 4 / 50;
    grid-column:  90 / 98;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    
}

.announcementsContainer div {
    font-size: 0.7rem;
    
}
.announcementsContainer h4 {
    font-size: 0.9rem;
}

.announcementsContainer p {
    color: var(--descriptionColor);
}


.siteMaintenenceContainer:after, .CommunityContainer::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 20px;
    border-bottom: 1px solid black;
}

/* https://www.steckinsights.com/shorten-length-border-bottom-pure-css/#:~:text=There%20isn't%20a%20way,Done. */

.siteMaintenenceContainer {
    grid-row: 1 / 1;
    grid-column: 1 / 5;
    padding: 20px;
   
   
    

}

.CommunityContainer {
    grid-row: 2 / 2;
    grid-column: 1 / 5;
    padding: 20px;
    margin-top: -20px;
   

    
}

.PrivacyContainer {
    grid-row: 3 / 3;
    grid-column: 1 / 5;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    
}







.trendingContainer img {
    width: 50px;
}

.trendingContainer {
    background-color: white;
    border-radius: 20px;
    grid-column: 90 / 98;
    grid-row: 54;
    display: grid;
    gap: 20px;
    padding: 20px;
    box-shadow: -1px 10px 5px -4px rgba(112,111,111,0.44);
}

.teganContainer, .morganContainer, .kendallContainer, .alexContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    
}

.trendingContainer img {
    grid-column: 1;
    grid-row: 1 / 3;
    margin-left: 30px;
}

.trendingUser {
    font-weight: bold;
}

.Description {
    grid-row: 2;
    grid-column: 2 / 4;
    font-size: 0.9rem;
    color: var(--descriptionColor);
}


