:root {
    --themeColor: #1992d4;
    --accentColor: #E2E8F0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}





.pageContainer {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
}
/* start of dashboard */

.dashboard {
    background-color: var(--themeColor);
    grid-column: 1 / 3;
    display: grid;
    color: white;
    min-height: 100vh;
    max-height: 100vh;
    grid-template-rows: repeat(30, 1fr);
    grid-template-columns: repeat(30, 1fr);
    align-items: center;
    row-gap: 15px;
    
}

.dashboard img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%)
    /* https://codepen.io/sosuke/pen/Pjoqqp */
}

.dashboard p {
    font-weight: bold;
}


.dashboardLogo {
  grid-column: 4 / 10;
  grid-row: 2
}

.dashboardText {
    grid-column: 11 / 13;
    grid-row: 2;
    
    
}

.homeLogo {
    grid-column: 4 / 7;
    grid-row: 4;
}

.homeText {
    grid-column: 11 / 13;
    grid-row: 4;
}

.profileLogo {
    grid-column: 4  / 7;
    grid-row: 5;
}

.profileText {
    grid-column: 11 / 13;
    grid-row: 5;
}

.messagesLogo {
    grid-column: 4 / 7;
    grid-row: 6;

}
.messagesText {
    grid-column: 11 / 13;
    grid-row: 6;
}

.historyLogo {
    grid-column: 4 / 7;
    grid-row: 7;
}

.historyText {
    grid-column: 11 / 13;
    grid-row: 7;
}

.tasksLogo {
    grid-column: 4 / 7;
    grid-row: 8;
}

.tasksText {
    grid-column: 11 / 13;
    grid-row: 8;
}

.communitiesLogo {
    grid-column: 4 / 7;
    grid-row: 9;
}

.communitiesText {
    grid-column: 11 / 13;
    grid-row: 9;
}

.settingsLogo {
    grid-column: 4/7;
    grid-row: 11;
}

.settingsText {
    grid-column: 11/ 13;
    grid-row: 11;
}

.supportLogo {
    grid-column: 4 / 7;
    grid-row: 12;
}

.supportText {
    grid-column: 11 / 13;
    grid-row: 12;
}

.privacyLogo {
    grid-column: 4 / 7;
    grid-row: 13; 
}

.privacyText {
    grid-column: 11 / 13;
    grid-row: 13;
}


/* end of dashboard */
.homeContainer {
    grid-column: 3 / -1;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
   
    max-height: 100vh;
}

/* start of header */

.header {
    grid-column: 1 / 31;
    grid-row: 1 / 6;
    display: grid;
    grid-template-rows: repeat(100, 1fr);
    grid-template-columns: repeat(100, 1fr);
}

.searchLogoWrapper {
    grid-row: 19;
    grid-column: 4;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
   
}

.searchLogoWrapper img {
    width: 30px;
    height: 30px;
}

.searchBar {
    background-color: var(--accentColor);
    border: 0;
    border-radius: 80px;
    grid-row: 16 / 29;
    grid-column: 6 / 37;
    
}

.notificationsLogoWrapper {
    grid-row: 19;
    grid-column: 87;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    

}

.notificationsLogoWrapper img {
    width: 30px;
    height: 30px;
}



.profileSmallwrapper {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    grid-row: 15;
    grid-column: 90;
}

.profileSmallwrapper img {
    height: 45px;
    width: 45px;
}

.profileName {
    font-weight: bold;
    grid-row: 21;
    grid-column: 93 / 99;

}



.pfpIntroImgWrapper {
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
    max-width: 100%;
    object-fit: cover;
    grid-row: 60 / 60;
    grid-column: 4;

    

}

.pfpIntroImgWrapper img{
    width: 75px;
    height: 75px;
    
}



.Intro {
    font-weight: bolder;
    grid-row: 70;
    grid-column: 8 / 30;
}

.MorgansIntro {
    grid-row: 75;
    grid-column: 8 / 30;
}


.blueButtons {
    background-color: var(--themeColor);
    border: 0;
    border-radius: 80px;
    font-weight: bolder;
    color: white;
    font-size: 1.3em;
    grid-row: 70 / 76;
    
    
}

.NewBtn {
    grid-column:  79 / 85;
}

.UploadBtn {
    grid-column: 86 / 92;
}

.ShareBtn {
    grid-column: 93 / 99;
}



/* end of header */
.maincontent {
    grid-column: 1 / 31;
    grid-row: 6 / 31;
    background-color: var(--accentColor);

}





